<!-- start section #skills -->
<section id = "skills">

    <div class = "row bot-70">

        <div class = "medium-5 columns">
            <h2>My <strong>SKILLS</strong></h2>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>
        <div class = "medium-1 columns">
            <i class = "icon kurr-dashboard-speed-streamline big white"></i>
        </div>
        <div class = "medium-6 columns">
            <p>
                <i>Only those who have patience to do simple things perfectly
                    ever acquire the skill to do difficult things easily.</i>
                <br>
                - James J. Corbett - </p>
        </div>

    </div>

    <div class = "row wow fadeInUp" data-wow-delay = "0s"
         data-wow-duration = "1s" data-wow-offset = "30">


        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "100">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Html</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "100">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Css</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "80">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Jquery</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "60">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Php/Mysql</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "90">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Photoshop</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "75">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Illustrator</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "60">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Photography</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>

        <div class = "medium-3 columns text-center counter">
            <span class = "chart" data-percent = "60">
              <span class = "percent"></span>
            </span>
            <h4 class = "chart-title">Motion Video</h4>

            <p>Maecenas nec odio et ante tincidunt tempus.</p>
        </div>


    </div>
</section><!-- end section #skills -->